.container {
  border: 1px dashed #CCC;
  position: relative;
  width: 50%;
  float: left;
}

.container > div {
  background: #AAA;
  position: absolute;
  height: 70px;
  width: 120px;
}

.container > .ss-placeholder-child {
  background: transparent;
  border: 1px dashed blue;
}
